<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form th:action="@{/login}" method="post">
        <label>Correo:</label>
        <input type="email" name="username" required>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
        <button type="submit">Ingresar</button>
    </form>
    <a href="/register">Registrarse</a>
</body>
</html>
